@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "League Spartan", sans-serif;
}

.bg-pattern {
  background-image: url("/images/bg-pattern-top-desktop.svg"),
    url("/images/bg-pattern-bottom-desktop.svg");
  background-repeat: no-repeat, no-repeat;
  background-position: top left, bottom right;
  background-size: 40%, 75%;
}
