---
import "../styles/globals.css";

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<main class="w-full h-screen bg-pattern bg-no-repeat bg-cover bg-center">
			<div class="max-w-[1150px] px-[20px] py-[118px] mx-auto">
				<div class="flex justify-between">
					<div class="w-[445px]">
						<h1 class="text-[56px] font-bold leading-[48px] tracking-[-2px] text-very-dark-magenta">10,000+ of our users love our products.</h1>
						<p class="mt-[25px] text-[18px] leading-[25px] text-dark-grayish-magenta">We only provide great products combined with excellent customer service.
							See what our satisfied customers are saying about our services.</p>
					</div>
					<div class="flex flex-col gap-[15px] mt-[26px]">
						<div class="flex place-self-start gap-[34px] px-[32px] py-[21px] w-[445px] bg-red-600 rounded-[10px] bg-light-grayish-magenta text-very-dark-magenta">
							<div class="flex gap-[10px]">
								<img src="./images/icon-star.svg" alt="icon star" class="h-[16px] w-[15px]">
								<img src="./images/icon-star.svg" alt="icon star" class="h-[16px] w-[15px]">
								<img src="./images/icon-star.svg" alt="icon star" class="h-[16px] w-[15px]">
								<img src="./images/icon-star.svg" alt="icon star" class="h-[16px] w-[15px]">
								<img src="./images/icon-star.svg" alt="icon star" class="h-[16px] w-[15px]">

							</div>
							<p class="font-bold text-[17px] leading-4">Rated 5 Stars in Reviews</p>
						</div>
						<div class="flex place-self-center gap-[34px] px-[32px] py-[21px] w-[445px] bg-red-600 rounded-[10px] bg-light-grayish-magenta text-very-dark-magenta">
							<div class="flex gap-[10px]">
								<img src="./images/icon-star.svg" alt="icon star" class="h-[16px] w-[15px]">
								<img src="./images/icon-star.svg" alt="icon star" class="h-[16px] w-[15px]">
								<img src="./images/icon-star.svg" alt="icon star" class="h-[16px] w-[15px]">
								<img src="./images/icon-star.svg" alt="icon star" class="h-[16px] w-[15px]">
								<img src="./images/icon-star.svg" alt="icon star" class="h-[16px] w-[15px]">

							</div>
							<p class="font-bold text-[17px] leading-4">Rated 5 Stars in Report Guru</p>
						</div>
						<div class="flex place-self-end gap-[34px] px-[32px] py-[21px] w-[445px] bg-red-600 rounded-[10px] ml-[95px] bg-light-grayish-magenta text-very-dark-magenta">
							<div class="flex gap-[10px]">
								<img src="./images/icon-star.svg" alt="icon star" class="h-[15px] w-[15px]">
								<img src="./images/icon-star.svg" alt="icon star" class="h-[15px] w-[15px]">
								<img src="./images/icon-star.svg" alt="icon star" class="h-[15px] w-[15px]">
								<img src="./images/icon-star.svg" alt="icon star" class="h-[15px] w-[15px]">
								<img src="./images/icon-star.svg" alt="icon star" class="h-[15px] w-[15px]">

							</div>
							<p class="font-bold text-[17px] leading-4">Rated 5 Stars in BestTech</p>
						</div>
					</div>
				</div>
				<div>
					<div>
						<div>
							<div>
								<img src="" alt="">
							</div>
							<div>
								<h3></h3>
								<p></p>
							</div>
						</div>
						<div>
							<p></p>
						</div>
					</div>
					<div></div>
					<div></div>
				</div>
			</div>
		</main>
	</body>
</html>
